:root {
    --gray-1: #eceff2;
    --gray-2: #ced9e3;
    --gray-3: rgba(0, 0, 0, 0.3);
    --gray-4: rgba(0, 0, 0, 0.15);
    --black-base: rgba(0, 0, 0, 0.9);
    --orange-1: #ff9500;
    --blue-1: #007aff;
    --red-1: #ff2d55;
    --purple-1: #5856d6;
    --green-1: #34c759;
}

